.side-nav {
    width: 100%;
    
    .side-nav-item {
        color: #fff;
        font-weight: bold;
        background-color: rgb(0, 140, 255);
        text-align: center;
        padding: 10px 0;
        &:hover {
            background-color: rgb(4, 82, 226);
        }
    }
}