.layout {
    height: 100%;
    width: 100%;
    display: flex;
    
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    .layout-side {
        background-color: rgb(36, 14, 41);
        min-width: 200px;
        height: 100%;
    }
    .layout-content {
        flex: 1;
        overflow: auto;
        background-color: rgb(220, 243, 243);
    }
}